<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>"${title}"</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/event.css}">
    <link rel="stylesheet" th:href="@{/css/process.css}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap" rel="stylesheet">
    <script th:src="@{https://cdn.socket.io/4.4.1/socket.io.min.js}"></script>
</head>
<body>
<header th:insert="~{blocks/header :: pick-header}"></header>
<div class="popup_user" id="namePopup">
    <div class="popup-content_user">
        <h2>Введите ваше имя</h2>
        <input type="text" id="nameInput" placeholder="Ваше имя">
        <button onclick="saveName()">Сохранить</button>
    </div>
</div>

<div id="user_holder">ИМЯ БУДЕТ ЗДЕСЬ</div>
<script>
    function hidePopup() {
      document.getElementById("namePopup").style.display = "none";
      document.getElementById("overlay").style.display = "none";
    }

    function saveName() {
      const name = document.getElementById("nameInput").value;
      let name_holder = document.getElementById("user_holder");
      name_holder.innerHTML = "Ваше имя:" + name;
      if (name.trim() !== "") { // Проверка на пустое имя
        // Здесь можно сохранить имя (например, в localStorage, cookie или отправить на сервер)
        console.log("Привет, " + name + "!");
        localStorage.setItem("userName", name); // Сохраняем имя в localStorage

        hidePopup(); // Закрываем окно
        //  Можно добавить код для обновления страницы или отображения приветствия на основе имени
        //  на основном контенте страницы
        //  Например:
        //  const greeting = document.createElement('p');
        //  greeting.textContent = "Добро пожаловать, " + name + "!";
        //  document.body.appendChild(greeting);
      } else {
        alert("Пожалуйста, введите ваше имя."); // Предупреждение, если имя пустое
      }
    }
</script>
<div class="admin-container">
    <div class="left-panel">
        <div class="admin-section">
            <h3>Администратор:</h3>
            <p id="Administator">Пусто</p>
        </div>
        <div class="commands-section">
            <div class="cnt-text">Команды</div>
            <ul>
                <li><a href="">Выгнать команду</a></li>
                <li><a href="">Пропустить команду</a></li>
                <li><a href="">link3</a></li>
            </ul>
        </div>
        <div class="jurie-section">
            <ul>
                <li>link1</li>
                <li>link2</li>
                <li>link3</li>
            </ul>
        </div>
    </div>


    <div class="popup-overlay" id="overlay"></div>

    <div class="center-panel" id="centerPanel">
        Главный список
        <div th:each="i : ${#numbers.sequence( 1, 4)}" class ="collapsible">
            <div class="collapsible-header">
                <span th:text="'TEAM' + ${i}">My Collapsible</span>
                <button class="add-item-button" data-team-id="${i}">JOIN</button>
            </div>
            <div class="collapsible-content">
                <!-- Content for each collapsible goes here -->
            </div>
        </div>
    </div>

    <template id="item-template">
        <div class="collapsible-item">
            <span>Item Content</span>
        </div>
    </template>

    <script type="text/javascript" th:src="@{/js/listview.js}"></script>


    <div class="buttons-panel">
        <div class="criteria-column">
            <button id="openPopupButton" type="button">Открыть список критериев</button>
            <div id="popupContainer" class="popup-container">
                <div class="popup-content">
                    <span class="close-button" id="closePopupButton">&times;</span>
                    <h2>Добавленные критерии</h2>
                    <div th:each="el : ${criterion}">
                        <li th:text="${el.name}"/>
                    </div>
                    <ul id="itemList"></ul>
                </div>
                <script type="text/javascript" th:src="@{/js/popup-event.js}"></script>
            </div>
        </div>
        <div class="team-column">
            <button class="button">Команды</button>
        </div>
        <div class="mark-column">
            <button class="button">Оценки</button>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/client-side.js}"></script>

</div>
<footer th:insert="~{blocks/footer :: pick-footer}"></footer>
</body>
</html>